body { padding: 50px 0 0 0; }

.main { padding: 20px; }
.main .page-header { margin-top: 0; }
.sidebar { display: none; }
.sidebar .thumbnail { text-decoration: none; padding: 20px 4px; }
.sidebar .thumbnail span { font-size: 32px; }
.dashboard { background: url('../img/logo.jpg') no-repeat 50% 50%; position: fixed; right: 0; bottom: 0; left: 0; top: 50px; z-index: 1; display: block; }
.form-group input.error, .form-group select.error { border-color: #a94442; }
.form-group label.error { text-align: right; color: #a94442; position: absolute; right: 15px; font-size: 10px; font-weight: 400; }

.pagination { margin: 0; }
.textarea { resize: none; }

.legenda-footer { display: inline-block; padding-left: 7px; }

.legend-success { color: #1cea5b; text-shadow: 1px 1px 0 #ccc; }
.legend-danger { color: #ea1c1c; text-shadow: 1px 1px 0 #ccc; }
.legend-warning { color: #eae31c; text-shadow: 1px 1px 0 #ccc; }
.legend-info { color: #1ce3ea; text-shadow: 1px 1px 0 #ccc; }
 

/* callout */
.callout { padding: 20px; margin: 20px 0; border: 1px solid #eee; border-left-width: 5px; border-radius: 3px; }
.callout h4 { margin-top: 0; margin-bottom: 5px; }
.callout .btn { float: right; margin-left: 15px; }

.callout-warning { border-left-color: #f0ad4e; }
.callout-warning h4 { color: #f0ad4e; }

.callout-danger { border-left-color: #d9534f; }
.callout-danger h4 { color: #d9534f; }

.callout-info { border-left-color: #5bc0de; }
.callout-info h4 { color: #5bc0de; }

@media (min-width: 768px) {
	.sidebar { position: fixed; top: 51px; bottom: 0; left: 0; z-index: 1000; display: block; padding: 20px 20px 0 20px; overflow-x: hidden; overflow-y: auto; background-color: #f5f5f5; border-right: 1px solid #eee; }
	.main { padding-right: 40px; padding-left: 40px; }
	.dashboard { left: 16.66666667%; top: 50px; }
}

.navbar { background-color: #ff882c; border-color: #F14C1C; }
.navbar .navbar-text, .navbar .navbar-nav >li > a { color: #fff; }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus  { background-color: #FF681D; color: #fff; }

.navbar-default .navbar-brand { color: #fff; }
.navbar-default .navbar-toggle { border-color: #fff; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: #FF681D; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus { background-color: #FF681D; }
.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus { background-color: #FF681D; color: #fff; }
.navbar-default .navbar-nav .open .dropdown-menu>li>a { color: #fff; }
.navbar-default .navbar-brand { color: #FFF; }
.navbar-default .navbar-brand:hover { color: #777; }

.navbar-default .nav>li>a>img { margin-top: -6px; margin-left: 15px; }

a { color: #052f83; text-decoration: none; }

.sidebar .thumbnail:hover { border-color: #052f83; }

.dropdown-menu { background-color:  #ff882c; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { text-decoration: none; color: #262626; background-color: #FF681D; }

.glyphicon-zoom-in { content:"\e015"; }

.btn-default:hover, .btn-default:focus, .btn-default:active, 
.btn-default.active, .open>.dropdown-toggle.btn-default { color: #fff; background-color: #FF681D; border-color: #FF681D; }
.btn-default { color: #fff; background-color: #ff882c; border-color: #ff882c; }

.form-control { width: 100%; font-size: 15px; color: #000000; }
