/* callout */
.callout { padding: 20px; margin: 20px 0; border: 1px solid #eee; border-left-width: 5px; border-radius: 3px; }
.callout h4 { margin-top: 0; margin-bottom: 5px; }

.callout-warning { border-left-color: #f0ad4e; }
.callout-warning h4 { color: #f0ad4e; }

.callout-danger { border-left-color: #d9534f; }
.callout-danger h4 { color: #d9534f; }

.callout-info { border-left-color: #5bc0de; }
.callout-info h4 { color: #5bc0de; }


/* Header */
.navbar-profile {}
.navbar-profile .item { position: relative; padding-right: 55px; }
.navbar-profile .item .img-thumbnail { position: absolute; right: 15px; top: 50%; width: 32px; height: 32px; margin-top: -16px; }

/* Catalogo */
.catalogo {}

.catalogo .lista .thumbnail { position: relative; }
.catalogo .lista .label { position: absolute; top: 4px; right: 4px; }
.catalogo .lista img { border-radius: .25em; }

/* Conta */
.conta .link-secundario {line-height: 34px;}
