a { color: #052f83; text-decoration: none; }

.form-group input.error, .form-group select.error { border-color: #a94442; }
.form-group label.error { text-align: right; color: #a94442; position: absolute; right: 15px; font-size: 10px; font-weight: 400; }


/* callout */
.callout { padding: 20px; margin: 20px 0; border: 1px solid #eee; border-left-width: 5px; border-radius: 3px; }
.callout h4 { margin-top: 0; margin-bottom: 5px; }

.callout-warning { border-left-color: #f0ad4e; }
.callout-warning h4 { color: #f0ad4e; }

.callout-danger { border-left-color: #d9534f; }
.callout-danger h4 { color: #d9534f; }

.callout-info { border-left-color: #5bc0de; }
.callout-info h4 { color: #5bc0de; }

/* btns */

.btn-default:hover, .btn-default:focus, .btn-default:active,
.btn-default.active, .open>.dropdown-toggle.btn-default { color: #fff; background-color: #ff882c; border-color: #ff882c; }
.btn-default { color: #fff; background-color: #ff9a2c; border-color: #ff9a2c; }

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active,
.btn-facebook.active, .open>.dropdown-toggle.btn-facebook { color: #f7f7f7; background-color: #3b5998; border-color: #3b5998; }
.btn-facebook { color: #f7f7f7; background-color: #8b9dc3; border-color: #8b9dc3; }


/* Header */
.navbar { background-color: #ff882c; border-color: #F14C1C; }
.navbar .navbar-text, .navbar .navbar-nav >li > a { color: #fff; }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus  { background-color: #FF681D; color: #fff; }

.navbar-default .navbar-brand { color: #fff; }
.navbar-default .navbar-toggle { border-color: #fff; }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: #FF681D; }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active, .navbar-default .navbar-toggle:focus { background-color: #FF681D; }
.navbar-default .navbar-toggle .icon-bar { background-color: #fff; }

.navbar-profile {}
.navbar-profile .item { position: relative; padding-right: 55px; }
.navbar-profile .item .img-thumbnail { position: absolute; right: 15px; top: 50%; width: 32px; height: 32px; margin-top: -16px; }

/* Catalogo */
.catalogo {}

.catalogo .lista .thumbnail { position: relative; min-height: 210px; padding-bottom: 30px; }
.catalogo .lista .options { position: absolute; left: 4px; bottom: 4px; width: 100%; padding-right: 8px; }
.catalogo .lista .label { position: absolute; top: 4px; right: 4px; }
.catalogo .lista img { border-radius: .25em; }

.catalogo .carrinho {}
.catalogo .carrinho input { width: 40px; }

/* Conta */
.conta .link-secundario {line-height: 34px;}
.navbar-default { border: none; border-bottom: solid 1px #e7e7e7; border-radius: 0px; }
